img {
    width: 20%;
    height: 20%;
    border-radius: 25px;
    margin: 15px;
}

.item {
    display: flex;
    align-items: center;
    padding:50px;
}

p {
    padding: 30px;
    text-shadow: 10%;
    background-color: rgb(118, 18, 148);
    border-radius: 40px;
    color: white;
}

button {
    text-align: center;
    display: block;
    background-color: rgb(163, 31, 157) ;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

button:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}