img {
    width: 20%;
    height: 20%;
    border-radius: 25px;
    margin: 15px;
}

.item {
    display: flex;
    align-items: center;
    padding:50px;
}

p {
    padding: 30px;
    text-shadow: 10%;
    background-color: rgb(118, 18, 148);
    border-radius: 40px;
    color: white;
}

.buy-button {
    text-align: center;
    display: block;
    background-color: rgb(163, 31, 157) ;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;  
}

.buy-button:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}

.back-button {
    text-align: left;
    display: block;
    text-decoration: none;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(167, 108, 164);
    border-radius: 25px;    
}
.back-button-container {
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #92398e; /* Цвет кнопки при наведении */
}